.container {
    display: grid;
    grid-gap: 5px;    
    grid-template-columns: 170px auto;
    grid-template-rows: 90px 540px 55px;
    grid-template-areas:
        "h h "
        "m c "
        "m f ";
}

.header {
    grid-area: h;
}
.menu {
    grid-area: m;
}
.content {
    grid-area: c;
}
.footer {
   grid-area: f;
   background-color: #a2eec6;
}


.header1{
    box-sizing: border-box;

position: absolute;
width:100%;
height: 48px;
left: 0px;
top: -10px;

mix-blend-mode: darken;
background: #f4efef;
}

.header2{
    position: absolute;
    width: 100%;
    height: 45px;
    left: 0px;
    top: 38px;
    
    background: #9cd1cb;
}


#menu ul{   
padding: 0px;
position: absolute;
width: 171px;

left: 0px;
top: 83px;

}

#menu li{
padding: 8px;
height: 30px;
line-height: 30px;
background: rgba(172, 244, 239, 0.48);
border-bottom:1px solid #000000;

position: relative;
}

#menu li a{
    text-decoration: none;
    width: 171px;
    height: 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;

color: #000000;
}

#menu ul li:hover {
    background-color: #eedfdf;
}

#menu ul.sub-menu{
    width: 171px;
    left: 172px;
    top: 0px;
    display: none;
    list-style: none;
    position: absolute;
    background-color: #6fdaa1;
}

#menu li:hover>.sub-menu{
    display: block;
}

#menu .sub-menu .sub-menu::before{
    width: 100px;
    left: 171px;
    top: 0px;
    background-color: #ca86f1;
    display: none;
}

#menu li.has-child::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    content: "▸";
    color: rgb(6, 30, 30);
    position: absolute;
    top: 0px;
    right: -2px;
    padding: 8px 0px;
}

.content .mainmenu1{
    width: 100%;
    padding: 0%;
    position: relative;
    background-color: #3f3856;
    z-index: 999999;
}
.content .mainmenu2::placeholder{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0%;
    background-color: rgb(222, 75, 12);
    z-index: 9999999;
}

